.page-header {
  display: flex;
  padding-left: 80px;

  @include for-large-up {
    width: 1120px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 0;
  }

  &__navigation {
    margin-left: auto;
    display: flex;
    width: 540px;
    justify-content: flex-start;
    @include for-large-down {
      display: none;
    }
  }

  &__upload-btn {
    font-weight: 600;
    width: 180px;
    font-size: 14px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    border: none;
    color: $text-color-white;
    margin-left: 20px;
    text-shadow: $text-shadow-dark-blue;
    background: $background-blue;
    box-shadow: $box-shadow-dark-blue;
    @include for-large-down {
      display: none;
    }
  }
}
.logo {
  display: flex;
  align-items: center;

  &__img {
    width: 50px;
    height: 50px;
  }
  &__name {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    color: $text-color-blue;
    background-attachment: fixed;
  }
}

.nav-list__item {
  font-size: 14px;
  line-height: 50px;
  color: $text-color-black;
  flex-shrink: 0;
  display: inline-block;
  padding: 0 30px;
  text-decoration: none;
}
