@import "breakpoints.scss";
@import "variables.scss";
@import "header.scss";
@import "headline.scss";
@import "reviews.scss";
@import "workflow.scss";
@import "features.scss";
@import "users.scss";

* {
  box-sizing: border-box;
}
html {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: #11223f;
}
.page {
  max-width: 1400px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include for-large-down {
    padding-top: 40px;
  }
  @include for-large-up {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
  }
}
.background-section {
  background: linear-gradient(
    180deg,
    rgba(25, 104, 252, 0.0001) 0%,
    rgba(25, 104, 252, 0.05) 23.07%,
    rgba(25, 104, 252, 0.0001) 99.94%,
    rgba(25, 104, 252, 0.05) 100%
  );
}
button,
a {
  cursor: pointer;
}
.hide-desktop {
  @include for-large-up {
    display: none;
  }
}

.hide-mobile {
  @include for-large-down {
    display: none;
  }
}
.title {
  font-size: 30px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
}
.title-block {
  margin-bottom: 48px;
  @include for-large-up {
    position: relative;
    margin-bottom: 50px;
  }
}
.title-line {
  width: 80px;
  height: 2px;
  background: #1968fc;
  box-shadow: 0px 2px 0px #d1e1fe;
  @include for-large-up {
    bottom: -10px;
    left: -40px;
    position: absolute;
  }
}
