.purposes {
  margin-top: 120px;
  @include for-large-up {
    width: 1120px;
    margin: 0 auto;
    margin-top: 120px;
  }

  & .title-block {
    @include for-large-down {
      width: 520px;
      margin: 0 auto;
      margin-bottom: 60px;
    }
    margin-bottom: 60px;
  }
  &__row {
    @include for-large-down {
      width: 520px;
      margin: 0 auto;
    }
    @include for-large-up {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__row:last-child {
    @include for-large-up {
      margin-top: 40px;
    }
  }
}
.purpose {
  background: $background-white;
  box-shadow: $box-shadow-block;
  display: flex;
  margin-top: 40px;
  align-items: center;
  flex-shrink: 0;
  width: 520px;
  @include for-large-up {
    width: 540px;
    margin-top: 0;
  }

  &__img {
    width: 80px;
    height: 80px;
  }
  &__text {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    margin-left: 20px;
  }
}
