.stories {
  margin: 0 auto;
  width: 520px;
  margin-top: 120px;
  @include for-large-up {
    width: 1120px;
    margin-top: 120px;
  }
}
.stories .title-block {
  @include for-large-down {
    width: 520px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
.story-cards {
  @include for-large-up {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
  }
}
.story-card {
  display: flex;
  margin-top: 40px;
  flex-shrink: 0;
  @include for-large-up {
    width: 480px;
    margin-top: 0;
  }
}
.story-card:first-child {
  margin-top: 0;
}
.story-card__img {
  width: 40px;
  height: 33px;
}
.story-card__text {
  margin-left: 20px;
}
.story-card__title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #111111;
}
.story-card__description {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
